extends ../layouts/layout

mixin accordion-item(parent, id, title, data)
  .accordion-item
    h2.accordion-header(role="tab")
      button.accordion-button.collapsed(data-bs-toggle="collapse", data-bs-target=`${parent} .item-${id}`, aria-expanded="false", aria-controls=`${parent} .item-${id}`)= title
    div(class=["accordion-collapse", "collapse", `item-${id}`], role="tabpanel" data-bs-parent=parent)
      .accordion-body
        .table-responsive
          table.table.table-sm
            tbody.align-middle
              for mod in data
                tr(class=mod.flags.includes(8) ? "bg-gray" : "" )
                  td.col-3
                    if Array.isArray(mod.name)
                      for name, i in mod.name
                        a.d-block(href=mod.url[i])= name
                    else
                      a.d-block(href=mod.url, target="_blank")= mod.name
                  td.col-1
                    .d-flex.justify-content-center
                      for flag in mod.flags
                        case flag
                          when 1: img.icon(src="assets/images/icons/automatron.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Automatron DLC")
                          when 2: img.icon(src="assets/images/icons/wasteland-workshop.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Wasteland Workshop DLC")
                          when 3: img.icon(src="assets/images/icons/far-harbor.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Far Harbor DLC")
                          when 4: img.icon(src="assets/images/icons/contraptions-workshop.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Contraptions Workshop DLC")
                          when 5: img.icon(src="assets/images/icons/vault-tec.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Vault-Tec DLC")
                          when 6: img.icon(src="assets/images/icons/nuka-world.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuka-World DLC")
                          when 7: img.icon(src="assets/images/icons/f4se.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="F4SE")
                  td!= marked.parseInline(mod.desc)

block content
  .alert.alert-primary(role="alert")
    | This website is still under construction. The mods list is not yet finished, and I am still looking for mods to fill the empty categories. Feel free to contribute via 
    a(href="https://github.com/big-duckie/fallout-femig/issues") GitHub
    | . Thank you.
  .row.mb-3
    .col-xl-10.offset-xl-1
      p Fallout FEMIG is a 1-page, quick-reference catalog of lore-friendly Fallout Enhancement Mods for Immersive Gameplay.
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Interface Mods
      #accordion-1.accordion(role="tablist")
        +accordion-item("#accordion-1", 1, "100 - Patches", patches)
        +accordion-item("#accordion-1", 2, "110 - UI", ui)
        +accordion-item("#accordion-1", 3, "120 - UI - Frameworks", ui_frameworks)
        +accordion-item("#accordion-1", 4, "130 - UI - Map", ui_map)
        +accordion-item("#accordion-1", 5, "140 - UI - Sounds", ui_sounds)
        +accordion-item("#accordion-1", 6, "150 - UI - Music", ui_music)
        +accordion-item("#accordion-1", 7, "160 - UI - Animations", ui_animations)
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Character Mods
      #accordion-2.accordion(role="tablist")
        +accordion-item("#accordion-2", 1, "200 - Character Creation", character_creation)
        +accordion-item("#accordion-2", 2, "210 - Alternate Starts", alternate_starts)
        +accordion-item("#accordion-2", 3, "220 - Character Leveling", character_leveling)
        +accordion-item("#accordion-2", 4, "230 - Carry Weight", carry_weight)
        +accordion-item("#accordion-2", 5, "240 - Item Weight", item_weight)
        +accordion-item("#accordion-2", 6, "250 - Backpacks", backpacks)
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Gameplay Mods
      #accordion-3.accordion(role="tablist")
        +accordion-item("#accordion-3", 1, "300 - Gameplay Overhaul", gameplay_overhaul)
        +accordion-item("#accordion-3", 2, "310 - Miscellaneous Gameplay", miscellaneous_gameplay)
        +accordion-item("#accordion-3", 3, "330 - Economy", economy)
        +accordion-item("#accordion-3", 4, "350 - Combat", combat)
        +accordion-item("#accordion-3", 5, "370 - Weapons and Armor", weapons_armor)
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Realism Mods
      #accordion-4.accordion(role="tablist")
        +accordion-item("#accordion-4", 1, "400 - Realism", realism)
        +accordion-item("#accordion-4", 2, "410 - Roleplaying", roleplaying)
        +accordion-item("#accordion-4", 3, "420 - Basic Needs", basic_needs)
        +accordion-item("#accordion-4", 4, "430 - Camping", camping)
        +accordion-item("#accordion-4", 5, "440 - Traps", traps)
        +accordion-item("#accordion-4", 6, "450 - Diseases", diseases)
        +accordion-item("#accordion-4", 7, "460 - Timescale", timescale)
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Environmental Mods
      #accordion-5.accordion(role="tablist")
        +accordion-item("#accordion-5", 1, "500 - Weather", weather)
        +accordion-item("#accordion-5", 2, "510 - Lighting", lighting)
        +accordion-item("#accordion-5", 3, "520 - Environment", environment)
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Travel Mods
      #accordion-6.accordion(role="tablist")
        +accordion-item("#accordion-6", 1, "600 - Speed", speed)
        +accordion-item("#accordion-6", 3, "620 - Fast Travel", fast_travel)
        +accordion-item("#accordion-6", 4, "630 - Vehicles", vehicles)
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Encounter Mods
      #accordion-7.accordion(role="tablist")
        +accordion-item("#accordion-7", 1, "700 - Companions", companions)
        +accordion-item("#accordion-7", 2, "710 - Companion Enhancements", companion_enhancements)
        +accordion-item("#accordion-7", 3, "720 - NPC Enhancements", npc_enhancements)
        +accordion-item("#accordion-7", 4, "730 - NPC Encounters", npc_encounters)
        +accordion-item("#accordion-7", 5, "740 - Enemy Enhancements", enemy_enhancements)
        +accordion-item("#accordion-7", 6, "750 - Enemy Encounters", enemy_encounters)
        +accordion-item("#accordion-7", 7, "760 - Creatures", creatures)
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Thievery Mods
      #accordion-8.accordion(role="tablist")
        +accordion-item("#accordion-8", 1, "800 - Thievery Overhaul", thievery_overhaul)
        +accordion-item("#accordion-8", 2, "810 - Stealth", stealth)
        +accordion-item("#accordion-8", 3, "820 - Pickpocket", pickpocket)
        +accordion-item("#accordion-8", 4, "830 - Lockpicking", lockpicking)
        +accordion-item("#accordion-8", 5, "840 - Crime", crime)
  .row.mb-4
    .col-xl-10.offset-xl-1
      h2.text-start.mx-3 Crafting Mods
      #accordion-9.accordion(role="tablist")
        +accordion-item("#accordion-9", 1, "900 - Crafting Overhaul", crafting_overhaul)
        +accordion-item("#accordion-9", 2, "910 - Crafting", crafting)
        +accordion-item("#accordion-9", 3, "920 - Cooking", cooking)
        +accordion-item("#accordion-9", 4, "930 - Settlements", settlement)